<!DOCTYPE html>
<html>
    <head>      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      {%include 'navbar.html'%}
      <title>Done!</title>
    </head>
    <body>
        <div class="container">

            <div class="d-flex flex-column">
                  <p class="m-auto p-2">
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                  </p>
                  <p class="m-auto p-2">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                  </p>
                  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
            </div>
        </div>
        
    </body>
</html>